<template>
  <!-- App.vue -->

  <v-app>
    <alert />

    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="title"> Sugeng Sandy </v-list-item-title>
            <v-list-item-subtitle>sgg.snd@gmail.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list nav dense>
        <v-list-item-group v-if="!guest" v-model="selectedItem" color="primary">
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            :to="item.route"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>

      <div class="pa-2" v-if="guest">
        <v-btn block color="primary" class="mb-1" @click="login">
          <v-icon left>mdi-lock</v-icon>
          Login
        </v-btn>
        <v-btn block color="success" class="mb-1">
          <v-icon left>mdi-account</v-icon>
          Register
        </v-btn>
      </div>
      <!-- -->
    </v-navigation-drawer>

    <v-app-bar app color="red" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Final Project VueJS</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- <v-slide-transition> -->
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
        <!-- </v-slide-transition> -->
      </v-container>
    </v-main>

    <v-footer app>
      Sanbercode | Final Project VueJS | @kurniasnd and @sugengwin
    </v-footer>
  </v-app>
</template>

<script>
import { mapActions } from "vuex";

export default {
  components: {
    Alert: () => import("./components/Alert.vue"),
  },
  name: "App",

  data: () => ({
    drawer: true,
    selectedItem: 0,
    items: [
      { text: "Home", icon: "mdi-home", route: "/" },
      { text: "Blogs", icon: "mdi-note", route: "/blogs" },
    ],
    guest: true,
    snackbarStatus: false,
    snackbarText: "Anda berhasil login",
  }),

  // mounted() {
  //   this.snackbarStatus = true;
  // },

  methods: {
    logout() {
      this.guest = true;
      this.setAlert({
        status: true,
        color: "success",
        text: "Anda berhasil logout",
      });
    },

    login() {
      // this.guest = false;
      // this.setAlert({
      //   status: true,
      //   color: "success",
      //   text: "Anda berhasil login",
      // });
      this.setDialogComponent({ component: "login" });
    },

    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
    }),
  },
};
</script>
